<table class='table table-hover table-inverse'>
  <h2>　　投稿一覧</h2> <h5>　　全投稿数：<%= @posts.count %>　投稿</h5>
  <thead>
    <tr class="sticky-top">
      <th></th>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>わかる数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td rowspan="2"><%= link_to end_user_path(post.end_user.id) do %>
          <%= image_tag post.end_user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to(post.end_user.name) %></td>
        <td><%= post.title %></td>
        <td><%= post.favorites.count %></td>
        <td><%= link_to '投稿削除', admin_post_path(post.id), method: :delete %></td>
      </tr>
      <tr><td colspan="4">【投稿内容】　<%= post.body %></td></tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br><br><br>
