<header style="background-color:lightskyblue;"  class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bit Supporter Admin</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_top_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-candy-cane"></i> HomeAdmin
            <% end %>
          </li>
          <li>
            <%=  link_to admin_end_users_path,class: 'nav-link text-dark' do %>
              <i class="far fa-id-card"></i> 利用者一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_posts_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-file-signature"></i> 投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' do %>
              <i class="fas fa-lock-open"></i> logout
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to home_about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-candy-cane"></i> Home
            <% end %>
          </li>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-hand-point-up"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to admin_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-lock"></i> login
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>